.header {
    /* Put and keep at top */
    position: fixed;
    top: 0;
    left: 0;

    /* Across whole window width */
    width:  100%;

    /* No bullet points */
    list-style-type: none;

    /* No margin or padding */
    margin: 0px;
    padding: 0px;

    overflow: hidden;
    background-color: var(--dark-darker);
}

.header-link {
    /* Keep on left */
    float:  left;
}

.header-link p {
    /* Font decoration */
    font-size: 1.5em;

    /* Keep in blocks with padding but no margin */
    padding: 14px 16px;
    margin: 0;

    /* Don't underline links */
    text-decoration: none;
}

.header-link p:hover {
    background-color: var(--dark-lighter);
    cursor: pointer;
}

.header-break {
    height: 0;
    margin-bottom: 22px;
}