.footer {
    /* Put and keep at bottom */
    position: fixed;
    left: 0;
    bottom: 0;

    /* Flex, keep in center vertically, and spread children apart */
    display: flex;
    justify-content: space-between;
    width: 100%;

    background-color: var(--dark-darker);

    overflow: auto;
}

/* Common to both contact info & socials */
.footer ul {
    list-style-type: none;
    display: flex;
    align-items: center;

    margin: 0px;
    padding: 0px;
}

.footer ul li {
    display: flex;
    align-items: center;
}

.contact-info li {
    padding-left: 0.75em;
    padding-right: 0.75em;
    border-right: 1px solid var(--accent1);
}

.contact-info li a {
    color: inherit;
    display: inherit;
    text-decoration: inherit;
    align-items: inherit;
}

.icon {
    padding-right: 0.75em;
    width: 2.5em;
}