.top-section {
    display: grid;
    grid-template-columns: auto auto;
}

.top-section * {
    margin-left: 0.5em;
}

.me-picture {
    width: 20em;
}

.gallery-grid {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.gallery-column {
    width: 18vw;
    display: flex;
    flex-direction: column;
}

.gallery-column * {
    margin: 1em 0;
}

